# Altium Designer
__Previews/
History/

Documentation/
datasheet/
simulation

Project\ Logs\ for\ */
Project\ Outputs\ for\ */

*.PCBDwf
*.DXPPrf
*.OutJob


# CubeIDE
.settings
DDS_Generator\ Debug.launch
Debug/
Release/